* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
a:visited,
a:hover {
  text-decoration: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear,
button::-ms-clear,
textarea::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
html,
body {
  font-size: 15px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
.title {
  font-size: 2rem;
  margin: 0;
  color: rgba(25, 78, 180, 0.1);
}
@media (max-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 1rem;
  background-color: #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  font-size: 1rem;
  color: #fff;
  transition: background 0.5s linear;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn span {
  color: #000;
}
.btn:focus,
.btn:hover {
  background-color: #c4c4c4;
}
.btn--poka {
  background-color: #194eb4;
}
.btn--poka:focus,
.btn--poka:hover {
  background-color: #103171;
}
.btn--pr {
  background-color: #f2b834;
}
.btn--pr:focus,
.btn--pr:hover {
  background-color: #cc920d;
}
.btn--green {
  background-color: #84de41;
}
.btn--green:focus,
.btn--green:hover {
  background-color: #5eb31f;
}
.post {
  width: 400px;
  height: 200px;
  background: url("../img/bg.jpg") center no-repeat;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.col-1 {
  width: 0.08333333;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-2 {
  width: 0.16666667;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-3 {
  width: 0.25;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-4 {
  width: 0.33333333;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-5 {
  width: 0.41666667;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-6 {
  width: 0.5;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-7 {
  width: 0.58333333;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-8 {
  width: 0.66666667;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-9 {
  width: 0.75;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-10 {
  width: 0.83333333;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-11 {
  width: 0.91666667;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.col-12 {
  width: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
/*# sourceMappingURL=less.css.map */