experience
Барахло0
Нужное
проект-pixso/проект№1 — копия
проект-pixso/проект№1 - копия(1)
проект-pixso/ХЗ/index_ready.html
проект-pixso/ХЗ/style_ready.css
SCSS Learn/SCSS unit 1/node_modules
SCSS Learn/SCSS unit 1/prepros.config
SCSS Learn/SCSS unit 2/.vscode
SCSS Learn/SCSS unit 2/node_modules
SCSS Learn/SCSS unit 2/prepros.config
LESS learn/node_modules
Bootsrap Learn/node_modules