/* Error: Undefined variable.
 *     ,
 * 186 |         $day2: (
 *     |         ^^^^^
 *     '
 *   sass.scss 186:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 186 \2502          $day2: (\d\a     \2502          ^^^^^\a     \2575 \a   sass.scss 186:9  root stylesheet";
}
