@use 'variables' as v;

.card {
    border: {
        width: 5px;
        style: dotted;
        color: v.$main-clor-2;
        radius: 5%
    }

    margin: {
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    padding: {
        top: 15px;
        bottom: 15px;
        right: 15px;
        left: 15px;
    }


    width: 300px;
    margin-bottom: 20px;
    transition: 0.3s;



    &:nth-child(2) {
        margin: {
            top: 0px;
            right: 0px;
            bottom: 20px;
            left: 10px;
        }
    }


    &:last-child {
        margin: {
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__title {
        margin: 0.3em;
        text-transform: uppercase;
        transition: 0.3s;
        background: v.$main-clor-7;

        border: {
            width: 2px;
            style: solid;
            color: black;
            radius: 10px;
        }

        padding: 2px;
        width: 73px;

        &:hover {
            cursor: pointer;
            color: v.$main-clor-11;
        }
    }

    &__text {
        margin: 1em 0.8em;
        text-align: justify;
    }

    &__signature {
        font-size: 12px;
        font-style: italic;
    }

    &:hover {
        cursor: pointer;
        background: v.$main-clor-10;
    }


    @media (max-width: v.$width-1 ) {
        & {
            flex-grow: 1;


            &__title {
                color: v.$main-clor-8;
            }
        }
    }
}