$main-clor-1: #ffa07a;
$main-clor-2: #add8e6;
$main-clor-3: #baade6;
$main-clor-4: #e6adad;
$main-clor-5: #ffffe0;
$main-clor-6: #90ee90;
$main-clor-7: #ee90da;
$main-clor-8: #fb0000;
$main-clor-9: #90c4ee;
$main-clor-10: #e12d90;
$main-clor-11: #3c4bec;


$width-1: 780px;